<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleWebComicReader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SimpleWebComicReader.My.MySettings>
            <setting name="C1Bookmark" serializeAs="String">
                <value />
            </setting>
            <setting name="C2Bookmark" serializeAs="String">
                <value />
            </setting>
            <setting name="C3Bookmark" serializeAs="String">
                <value />
            </setting>
            <setting name="C4Bookmark" serializeAs="String">
                <value />
            </setting>
            <setting name="C1Arc" serializeAs="String">
                <value />
            </setting>
            <setting name="C2Arc" serializeAs="String">
                <value />
            </setting>
            <setting name="C3Arc" serializeAs="String">
                <value />
            </setting>
            <setting name="C4Arc" serializeAs="String">
                <value />
            </setting>
            <setting name="C1Link" serializeAs="String">
                <value />
            </setting>
            <setting name="C2Link" serializeAs="String">
                <value />
            </setting>
            <setting name="C3Link" serializeAs="String">
                <value />
            </setting>
            <setting name="C4Link" serializeAs="String">
                <value />
            </setting>
            <setting name="C1Name" serializeAs="String">
                <value />
            </setting>
            <setting name="C2Name" serializeAs="String">
                <value />
            </setting>
            <setting name="C3Name" serializeAs="String">
                <value />
            </setting>
            <setting name="C4Name" serializeAs="String">
                <value />
            </setting>
            <setting name="C1Format" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C2Format" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C3Format" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C4Format" serializeAs="String">
                <value>0</value>
            </setting>
        </SimpleWebComicReader.My.MySettings>
    </userSettings>
</configuration>